---
---
// variables
$navbar-color: #303232;
$fossasia-red: #e52200;
$menu-hover: #fbfbfb;
$custom-gray: #efefef;
$table-back: #ccccff;

$phone-width: 767px;
$tablet-width: 960px;

// footer mixin
@mixin footer-icon($url) {
  background: url($url);
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

body {
  background:url('../img/bg-texture.jpg');
  padding-bottom: 40px;
  color: #5a5a5a;
}

// fossasia spaceman font 
@font-face {
  font-family: SPACEMAN;
  src: url('SPACEMAN_0.TTF');
}

// navbar styling 
.navbar-default {
  background-color: #f3f3f3;
  border-color: #ffffff;
  border-radius:4px;
  width: 100%;

  .navbar-brand {
    color: $navbar-color;
    font-family: SPACEMAN;
    font-size:20px;

    &:hover, &:focus {
      color: $fossasia-red;
    }
  }

  .navbar-text {
    color: $navbar-color;
  }

  .navbar-nav {

    li:hover {
      background: $menu-hover;
    }

    > li > a {
      color: $navbar-color;
      &:hover, &:focus {
        color: $fossasia-red;
      }
    }

    .active {
      a, a:hover, a:focus {
        color: $fossasia-red;
        background-color: #ffffff;
      }
    }

    .open {
      > a, a:hover, a:focus {
          color: $fossasia-red;
          background-color: #ffffff;
      }
      .dropdown-menu {
          > li > a {
          @media (max-width: $phone-width) {
            color: $navbar-color;
            &:hover, &:focus {
              color: $fossasia-red;
            }
          }
        }
        .active a ,&:hover, &:focus {
          @media (max-width: $phone-width){
            color: $fossasia-red;
            background-color: #ffffff;
          }
        }
      }
    }
  }
  .navbar-toggle {
    border-color: #fff;

    &:hover, &:focus {
      background-color: #fff;
    }

    .icon-bar {
      background-color: $navbar-color;
    }
  }

  .navbar-collapse, .navbar-form {
    border-color: $navbar-color;
  }

  .navbar-link {
    color: $navbar-color;

    &:hover {
      color: $fossasia-red;
    }
  }
}

.navbar-wrapper {
  margin-top:10px;
  height: 50px;
}

.navbar-header {
  padding-left: 15px;
  /* responsive */
  @media (max-width: $phone-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.carousel-caption {
  bottom:45%;
}

.social {
  overflow: hidden;

  li {
    float:left;
    list-style-type: none;
    height:32px;
    width:32px;
    margin-right:10px;
    margin-top: 5px;
    padding: 0px;

    a {
      margin: 0px; 
      display: block; 
      width: 100%; 
      height: 100%;
    }
  }
}

.facebook {
  @include footer-icon('../img/social/facebook.png');
}
.twitter {
  @include footer-icon('../img/social/twitter.png');
}
.flickr {
  @include footer-icon('../img/social/flickr.png');
}
.feed {
  @include footer-icon('../img/social/rss.png');
}
.wiki {
  @include footer-icon('../img/social/wiki.png');
}
.youtube {
  @include footer-icon('../img/social/youtube.png');
}
.github {
  @include footer-icon('../img/social/github.png');
}
.gplus {
  @include footer-icon('../img/social/googleplus.png');
}
.linkedin {
  @include footer-icon('../img/social/linkedin.png');
}

.page-content {
  background: #fff;
  margin-top:10px;
  margin-bottom: 10px;
}

.post {
  padding:20px 25px 20px 25px;
  width:80%;

  img {
    width: 100%;
    height: auto;
  }

  @media (max-width:$tablet-width) { 
      width: 100%;
  }
}

.social-bottom {
  padding: 0 25px 20px 25px;
  width: 100%;
}

.social-bottom-title {
  background: linear-gradient(to bottom, #3c3c3c 0,#222 100%);
  font-size:20px;
  padding:4px;
  text-align: left;
  -webkit-font-smoothing:antialiased;
  color:#fff;
}

.page-content {
  border-radius: 3px;
  box-shadow: 0 0 10px #000000;
  min-height: 2480px;
}

.top-container {
  padding-left: 20px;
  padding-right: 20px;
  min-height: 2165px;
}

.sidebar {
  float: right;
  width:20%;
}

.bottom-container {
  width: 100%;
}

.sidebar-title {
  background: linear-gradient(to bottom, #1A96D4 0,#3070e3 100%);
  box-shadow: 0 8px 6px -6px #777;
  font-size:20px;
  padding:4px;
  text-align: center;
  -webkit-font-smoothing:antialiased;
  color:#fff;
}

input {
  padding: .75em;
  border: none;
  border-radius: 2px;
  transition: all .3s ease;
  font-size: .8em;
  margin: 1em;
}

input:focus {
  outline: none;
  background: #eee;
}

.email {
  padding:.9em;
  font-size:101%;
  width: 95%;
  margin-left:2%;
  border:1px solid #5a5a5a;
  margin-bottom:0;
}

.button {
  clear: both;
  padding: 13px;
  width: 91%;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 14px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.footer {
  padding-top: 5px;
  padding-left:0;
  padding-right:0;
  background: #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 0 10px #000000;
  height: auto !important;
  overflow: hidden;

  a.pull-right {
    margin-right: 30px
  }
}

.footer-wrap {
  padding-top: 8px;
  padding-bottom: 8px;

  > .pull-right {
    margin-top: 8px;
  }
}

.clear {
  text-align: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.img-logo {
  margin-left : auto;
  margin-right: auto;

  &:hover {
    background: #f6f6f6;
  }
}

.table {
  &:not(#flickr-table):not(#weather-table) {
    > thead > tr > th {
      background-color: rgb(255, 255, 204);
    }

    > tbody > tr {
      &:hover > td {
        background-color: $custom-gray !important;
      }
      &:nth-child(even) > td {
        background-color: $table-back;
      }
    }
  }
}

#flickr-table {
  table-layout: fixed;
  overflow: auto;
}

.flickr_badge_image {
  text-align: center !important;
  padding: 5px 8px 5px 0px !important;
}

.flickr-more-images {
  display: block;
  text-align: right;
}

.twitter-timeline {
  min-width: 145px;
}

#projects a:last-child img {
  margin-left: 30% !important;
}

.licensing-info {
  float: left;
  margin-right: 5px;

  > a {
    margin-right: 0 !important;
    display: inline-block;
  }
  img.img-responsive {
    position: relative;
    top: 2px;
  }
}

#license-link {
  display: inline-block;
}

.separator {
  display: inline-block;
}