body {
  background:url('../img/bg-texture.jpg');
  padding-bottom: 40px;
  color: #5a5a5a;
}

@font-face {
    font-family: SPACEMAN;
    src: url('SPACEMAN_0.TTF');
}
/* navbar styling */
.navbar-default {
  background-color: #f3f3f3;
  border-color: #ffffff;
  border-radius:4px;
  width: 101.5%;
}
.navbar-default .navbar-brand {
  color: #303232;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #e52200;
}
.navbar-default .navbar-text {
  color: #303232;
}
.navbar-default .navbar-nav > li > a {
  color: #303232;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #e52200;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #e52200;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #e52200;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #303232;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #303232;
}
.navbar-default .navbar-link {
  color: #303232;
}
.navbar-default .navbar-link:hover {
  color: #e52200;
}
.navbar-brand {
  font-family: SPACEMAN;
  font-size:20px;
}
.navbar-wrapper {
  margin-top:10px;
  height: 50px;
}
/* responsive navbar */
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #303232;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e52200;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e52200;
    background-color: #ffffff;
  }
}
.carousel-caption {
  bottom:45%;
}
.social {
  height: 50px;
}
.social li {
  float:left;
  list-style-type: none;
  height:32px;
  width:32px;
  margin-right:10px;
}
.facebook {
  background: url('../img/social/facebook.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.twitter {
  background: url('../img/social/twitter.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.flickr {
  background: url('../img/social/flickr.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.feed {
  background: url('../img/social/rss.png');
  background-size: 32px 32px;
  background-repeat: no-repeat;
}
.page-container {
  margin-left:8%;
  width:85%;
}
.page-content {
  background: #fff;
  margin-top:10px;
  margin-bottom: 10px;
}
.post {
  padding:20px 25px 20px 25px;
  width:80%;
}
.social-below {
  padding: 0 25px 20px 25px;
  width: 80%;
}
.social-below-title {
  background: linear-gradient(to bottom, #3c3c3c 0,#222 100%);
  font-size:25px;
  padding:4px;
  text-align: left;
  -webkit-font-smoothing:antialiased;
  color:#fff;
}
.page-content {
  border-radius: 3px;
  box-shadow: 0 0 10px #000000;
  min-height: 2480px;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar {
  float: right;
  width:20%;
}
.sidebar-title {
  background: linear-gradient(to bottom, #3c3c3c 0,#222 100%);
  font-size:25px;
  padding:4px;
  text-align: center;
  -webkit-font-smoothing:antialiased;
  color:#fff;
}
input {
    padding: .75em;
    border: none;
    border-radius: 2px;
    transition: all .3s ease;
    font-size: .8em;
    margin: 1em;
}

input:focus {
    outline: none;
    background: #eee;
}

.email {
  padding:.9em;
  font-size:101%;
  width: 95%;
  margin-left:2%;
  border:1px solid #5a5a5a;
  margin-bottom:0;
}
.button {
  clear: both;
  background: #3d8fe7;
  color: #fff;
  padding: 13px;
  width: 100px;
  -webkit-font-smoothing:antialiased;
  border-radius: 3px;
  margin-left: 10px;
}
.footer {
  padding-top: 5px;
  padding-left:0;
  padding-right:0;
  background: #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 0 10px #000000;
}
.footer a {
  margin-right: 30px;
}
.footer-wrap {
  padding-top: 8px;
}
.pull-right {
  margin-top:8px;
}

.table:not(#flickr-table) > tbody > tr:hover > td {
    background-color: #efefef;
}
#flickr-table {
  overflow: auto;
}
.flickr_badge_image {
  text-align: center !important;
  padding: 5px 8px 5px 0px !important;
}