---
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div class="page-container">
    {% include header.html %}

    <div class="page-content">

      <div class="wrapper">
        {% include sidebar.html %}
        <div class="posts">
        {% for post in site.posts %}
            {% if post.title != 'Venue' %}
              {% if post.title != 'Location' %}
                <div class="post">
                  <h2 style="padding-bottom:5px;">
                    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                  </h2>
                  {{ post.content }}
                </div>
            <hr/>
              {% endif %}
            {% endif %}
        {% endfor %}
        </div>
      </div>
    </div>
      <!-- FOOTER -->
    {% include footer.html %}
  </div>
    {% include scripts.html %}
    
  </body>
</html>