<div class="bottom-container">
  <div class="social-bottom">
    <h2 class="social-bottom-title"> Facebook</h2>
    <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 300px;" src="http://www.facebook.com/plugins/likebox.php?id=126893747338271&amp;width=680&amp;connections=36&amp;stream=false&amp;header=false&amp;height=300"></iframe>
  </div>
  <div class="social-bottom">
    <h2 class="social-bottom-title"> Flickr </h2>
    <table id="flickr-table" cellpadding="0" cellspacing="10" border="0" id="flickr_badge_wrapper">
      <tbody>
        <tr>
          <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=latest&amp;size=t&amp;layout=h&amp;source=all_tag&amp;tag=fossasia2011"></script>
        </tr>
        <tr>
          <td><a href="http://www.flickr.com/search/?q=fossasia2011&m=tags">more..</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>