
<footer style="border-top:2px solid #f6f6f6;">
  <div class="footerContainer" style="padding-top:5px;">
  <p class="pull-right"><a href="#">Back to top</a></p>
  <ul class="social">
    <a href="/feed.xml"><li class="feed"></li></a>
    <a href="https://facebook.com/fossasia"><li class="facebook"></li></a>
    <a href="https://twitter.com/fossasia"><li class="twitter"></li></a>
    <a href="https://www.flickr.com/photos/fossasia/"><li class="flickr"></li></a>
  </ul>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script>
	$('table').addClass('table');
  $('#home-nav').attr('href', window.location.protocol+"//"+window.location.host)
</script>