<footer class="footer">
  <div class="footer-wrap">
    <a href="http://fossasia.org" class="pull-right">&copy; FOSSASIA</a>
    <ul class="social">
      <a href="{{ site.baseurl }}/feed.xml"><li class="feed"></li></a>
      <a href="https://facebook.com/fossasia"><li class="facebook"></li></a>
      <a href="https://twitter.com/fossasia"><li class="twitter"></li></a>
      <a href="https://www.flickr.com/photos/fossasia/"><li class="flickr"></li></a>
      <a href="https://github.com/fossasia/"><li class="github"></li></a>
      <a href="https://www.youtube.com/channel/UCQprMsG-raCIMlBudm20iLQ"><li class="youtube"></li></a>
      <a href="https://www.linkedin.com/groups/FOSSASIA-3762811"><li class="linkedin"></li></a>
      <a href="https://plus.google.com/108920596016838318216"><li class="gplus"></li></a>
      <a href="https://en.wikipedia.org/wiki/FOSSASIA"><li class="wiki"></li></a>
    </ul>
  </div>
</footer>