        <div class="sidebar">
          <div class="sidebar-item">
            <h2 class="sidebar-title">Twitter</h2>
            <div class="sidebar-content">
              <a class="twitter-timeline"
                  width="300"
                  height="450"
                  href="https://twitter.com/fossasia"
                  data-widget-id="524701520395137024">
                  Tweets by @fossasia
              </a>
            </div>
          </div>
          <div class="sidebar-item">
              <h2 class="sidebar-title">Updates</h2>
              <div class="sidebar-content">
                <form action="//fossasia.us9.list-manage.com/subscribe/post?u=d5cf526b4ceea238da3512fb3&amp;id=2be821d83b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                <div id="mc_embed_signup_scroll">
                  <input spellcheck="false" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"                required="">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;"><input type="text" name="               b_d5cf526b4ceea238da3512fb3_2be821d83b" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="<mc-embedded-subscribe>                </mc-embedded-subscribe>" class="button"></div>
                  </div>
                  </form>
              </div>
          </div>
          <div class="sidebar-item">
            <h2 class="sidebar-title">Organiser</h2>
            <div class="sidebar-content">
              <img src="{{site.baseurl}}/img/logos/mbm.png">
            </div>
          </div>
          <div class="sidebar-item">
            <h2 class="sidebar-title">Host</h2>
            <div class="sidebar-content">
              <img style="width:220px;" src="{{site.baseurl}}/img/logos/host.png" >
            </div>
          </div>
          <div class="sidebar-item">
            <h2 class="sidebar-title">Projects</h2>
            <div class="sidebar-content">
              {% for logo in site.data.logos %}
                <a href="{{ logo.link }}">
                  <img class="img-logo" style="width:80px;margin:10px;" src="{{site.baseurl}}/img/logos/{{ logo.imgName }}">
                </a>
              {% endfor %}
            </div>
          </div>
          <div class="sidebar-item">
            <h2 class="sidebar-title">Hotel Partner</h2>
            <img src="{{site.baseurl}}/img/logos/hotelpartner.png">
          </div>
       </div>