<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-container">
      {% include header.html %}
  
      <div class="page-content">
        <div class="wrapper">
  
          {% include sidebar.html %}
  
          {{ content }}
          <div class="social-below">
            <h2 class="social-below-title"> Facebook</h2>
            <iframe scrolling="no" frameborder="0" allowtransparency="true" style="border: none; overflow: hidden; width: 100%; height: 300px;" src="http://www.facebook.com/plugins/likebox.php?id=126893747338271&amp;width=680&amp;connections=36&amp;stream=false&amp;header=false&amp;height=300"></iframe>
          </div>
        </div>
      </div>
  
      {% include footer.html %}
  
      {% include scripts.html %}
  </div>
  </body>

</html>
